{{!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messages</title>
  </head>

  <body>
    <div>
        <div>
            <h3>Aquí estarán los mensajes enviados</h3>
            <input id="chatbox">
            {{#each msg as |obj|}}
            {{obj.socketid}}: {{obj.message}}
            {{/each}}
            <p id="log"></p>
        </div>
    </div>

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
</html> --}}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
  </head>

  <body>
    <h1>Chat</h1>
<form action="messages/addMessage" method="POST" id="messageForm">
    <input type="text" id="user" name="user" placeholder="Correo del usuario" required>
    <input type="text" id="message" name="message" placeholder="Mensaje" required>
    <button type="submit">Enviar mensaje</button>
</form>

<div class="chat-container">
    <div class="row" id="chatList">
        {{#each messages}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2>User: {{../data.user}}</h2>
                <p>Message: {{../data.text}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/chat.js"></script>


  </body>
</html>

