<div>
    <h1>Home</h1>
    <hr>
    <p></p>
    <div>
            <a href="https://entregas-backend-luduena-production.up.railway.app/login">Iniciar sesión /</a> <a href="https://entregas-backend-luduena-production.up.railway.app/register">Registrarse</a>
    </div>
</div>
