<div>
    <h1>Home</h1>
    <hr>
    <p></p>
    <div>
            <a href="http://localhost:8081/login">Iniciar sesión /</a> <a href="http://localhost:8081/register">Registrarse</a>
    </div>
</div>
