<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    {{!-- Inicio de sesión Github --}}
    <div>
        <hr>
        <a href="/api/sessions/github"><button>Inicia sesión con Github</button></a>
    </div>
    {{!-- Fin Inicio de sesión Github --}}
    <hr>
    <p></p>
    <div id="loginMsg" style="color: rgb(154, 18, 18);"></div>
    <p></p>

    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p><a href="/forgottenPass">¿Olvidó su contraseña?</a></p>
</div>
<script src="/js/login.js"></script>

