<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Carrito: {{user.cart}}</p>

    <div>
        <button id="logout-btn">Log Out</button>
    </div>
    <p></p>
    <div>
        <button id="home-btn">Volver</button>
    </div>
</div>
<script src="/js/profile.js"></script>