<div>
    <h1>Registro</h1>
    {{!-- <form id="registerForm">

        <label>Nombre</label>
        <input name="first_name">
        <br/>
        <label>Apellido</label>
        <input name="last_name">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Edad</label>
        <input name="age">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form> --}}
    <div style="color: rgb(154, 18, 18);">
        <p>El formulario no funciona correctamente por el momento.</p>
        <p>Por favor, registrarse por medio de Postman utilizando el modelo dado. </p>
        <p>Disculpe las molestias!</p>
    </div>

    <hr>
    <p></p>
    <div id="mensaje" style="color: rgb(154, 18, 18);"></div>
    <p></p>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>