<div>
    <h1>Restaura la contrase침a del usuario</h1>
    <form id="restoreForm">
        <label>Correo electr칩nico</label>
        <input name="email">
        <label>Nueva contrase침a</label>
        <input type="password" name="password">
        {{!-- Revisar que no muestre la contrase침a en la vista. --}}
        <input type="submit">
    </form>
    <div id="restoreSuccess"></div>
</div>
<script src="./js/restore.js"></script>